<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" [formControl]="name" ><br>
    
    <input type="text" [formControl]="email"><br>
    <input type="text" [formControl]="password"><br>
    <input type="text" [formControl]="mobile"><br>
    <button (click)="save()">add</button>
    
</body>
</html>
