<p>test works!</p>
<ul>
    <li *ngFor="let names of name">{{names}}</li>
</ul>
<select name="" id="" >
    <option value="" *ngFor="let color of colors">{{color}}
       
    </option>
   
    
</select>
<div>
<button *ngFor="let number of [1,2,3]">{{number}}</button>
</div>
<div>
    <button *ngFor="let number of [4,5,6]">{{number}}</button>
    </div>
    <div>
        <button *ngFor="let number of [7,8,9]">{{number}}</button>
        </div>
        <div>
            <button *ngFor="let number of ['=',0,'clr']">{{number}}</button>
            </div>
