<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" (ngSubmit)="done()" #myform="ngForm" class="form-inline my-2 my-lg-0">
        <div>
        <input type="text" class="form-control mr-sm-2" placeholder="mobile number" required  [(ngModel)]="model.mobile" name="mobile">
    </div>
    <div>
        <input type="text" class="form-control mr-sm-2" placeholder="email id" required [(ngModel)]="model.email" name="email">
    </div>
    <button [disabled]="!myform.form.valid">done</button>
    </form>
</body>
</html>
